@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', helvetica, arial, sans-serif;
}

#logo {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 47px;
	font-stretch: condensed;
	padding: 0;
	border-bottom: 1px dashed #fff;
	opacity: 0.5;
	}


.menu ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #455073;
}

.menu ul li {
	color: #fff;
	font-size: 47px;
	font-variant: small-caps;
	font-stretch: condensed;
	font-weight: bold;
	padding: 10px 15px;
	border-bottom: 1px dashed #fff;
}

.menu ul li:last-child {
	margin-bottom: 0;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
}

section.imageholder {
	display: none;
}

.footerWrap {
    display: flex;
    background: hsl(0, 0%, 15%);
    flex-wrap: wrap;
    justify-content: center;
}

.copyright h2 {
	display: none;

}

.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 10px 15px 10px 0;
    padding: 0;
}

.styleSocial li a {
		margin: 0;
    padding: 0 10px;
    color: #fff;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    opacity: 1;
}

.social-menu li a:before {
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}

.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }

.social-menu li a[href*="instagram.com"]::before { content: '\f16d'; }

.social-menu li a[href*="twitter.com"]::before { content: '\f099'; }

.social-menu li a[href*="youtube.com"]::before { content: '\f167'; }


.item {
	
	margin-bottom: 10px;	
}

.item a {
	color: black;
	text-decoration: none;
}

.item a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.text {
	padding: 1.4em;
}

.text h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.text p {
	font-size: 95%;
}

.item img {
	width: 120%;
	margin-left: -50px;
	padding: 0;
	margin-right: 
}

.about {
	position: relative;
	background-color: #455073;
	padding: 10px 15px;
	color: #fff;
	font-size: 25px;
	font-stretch: condensed;
	font-weight: bold;
	

}


/* MEDIA SCREEN */

@media screen and (min-width: 30em) {

#logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-weight: bold;
	font-size: 47px;
	font-stretch: condensed;
	padding: 0;
	border-bottom: 1px dashed #fff;
	opacity: 1;
}

.menu ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
	background-color: #455073;
}

.menu ul li {
	color: #fff;
	font-size: 20px;
	font-variant: small-caps;
	font-stretch: condensed;
	font-weight: bold;
	padding: 10px 15px;
	border-right: 1px dashed #fff;
	border-bottom: none;
}

.menu ul li:first-child {
	border-left: 1px dashed #fff;
}

.menu ul li:last-child {
	margin-bottom: 0;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
}
	
.menu ul li a {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}


.menu ul li:hover {
	background-color: rgba(255, 255, 255, 0.4);
	}

section.imageholder {
	display: block;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0;
}

img {
	display: block;
	width: 100%;
	margin-bottom: 0;
	padding: 0;
}

section.imageholder h1 {
	text-align: center;
	display: block;
	position: relative;
	top: -150px;
	font-size: 37px;
	text-transform: uppercase;
	font-weight: 100;
	color: #000;
	margin: 0 auto;
	max-width: 400px;
	padding: 10px;
	border-bottom: 1px dashed #000;
	border-top: 1px dashed #000;
	}

.footerWrap {
    display: flex;
    background: hsl(0, 0%, 15%);
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright h2 {
	display: flex;
	text-transform: uppercase;
	font-weight: 100;
	color: #fff;
	font-size: 14px;
	margin: 10px 15px 10px 0;
	padding: 0 10px;
  justify-content: flex-start;
  opacity: 0.5;

}

.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 10px 15px 10px 0;
    padding: 0;
}

.styleSocial li a {
		margin: 0;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    opacity: 0.5;
}

.styleSocial li a:hover {
		opacity: 1;
}

.social-menu li a:before {
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}

.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }

.social-menu li a[href*="instagram.com"]::before { content: '\f16d'; }

.social-menu li a[href*="twitter.com"]::before { content: '\f099'; }

.social-menu li a[href*="youtube.com"]::before { content: '\f167'; }

.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -1em;
}

.item {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 calc(33% - .5em);
  margin-bottom: 1em;
}

.center {
	margin: 0 auto;
}

.item img {
	width: 100%;
	margin-left: -10px;
	padding: 0;
}

}
@media screen and (max-width: 700px) {

section.imageholder h1 {
	color: #fff;
	background-color: #000;
	border: none;
	}

.item {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 calc(50% - .5em);
        margin-bottom: 1em;
}

.item img {
	width: 120%;
	margin-left: -24px;
	padding: 0;
}



}
